
<!-- wp:template-part {"slug":"header"} /-->


<!-- wp:post-template

wp:post-featured-image
 wp:post-title {"isLink":true}
wp:post-author {"showAvatar":false}
wp:post-dat
 wp:post-excerpt 

 wp:post-template -->



<!-- wp:query {
        "queryId":0,
        "query":{
            "perPage":2,
            "pages":2,
            "offset":0,
            "postType":"post",
            "order":"desc",
            "orderBy":"date",
            "author":"",
            "search":"",
            "exclude":[],
            "sticky":"",
            "inherit":true,
            "taxQuery":null,
            "parents":[]
        },
        "displayLayout":{
            "type":"list"
        }
    } -->
    




    <!-- wp:post-template -->

  
    <!-- wp:post-content /-->

    <!-- /wp:post-template -->
  
<!-- /wp:query -->



<!-- wp:paragraph -->
<!-- <p>Welcome to the world of blocks.</p> -->
<!-- /wp:paragraph -->




<!-- wp:columns -->
<!-- <div class="wp-block-columns">
   
    <div class="wp-block-column">
        fasdfasdf 1
    </div>
 
    <div class="wp-block-column">
        dfasdf 2
    </div>
   
    <div class="wp-block-column">
        dfasdf 3
    </div>
 
</div>
 -->
<!-- /wp:columns -->


<!-- wp:columns {"backgroundColor":"pink"} -->
<!-- <div class="wp-block-columns has-pink-background-color has-background"> -->
    <!-- wp:column -->
    <!-- <div class="wp-block-column">fasdf</div> -->
    <!-- /wp:column -->
    
    <!-- wp:column -->
    <!-- <div class="wp-block-column">fas</div> -->
    <!-- /wp:column --><!-- </div> -->
    <!-- /wp:columns -->


<!-- wp:template-part {"slug":"footer"} /-->